<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>求职者订单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="css/talentpool/talentpool.css">
</head>

<body>
    <div class="talentpool">
        <div class="deadline big">
            <p>我的人才库功能模块</p>
            <p>将于1月＊日上线</p>
        </div>
        <div class="deadline small">
            我的人才库：通过猎头二维码邀请注册速职的求职者，都可在我的人才库查看，当看见匹配的人才时，猎头可以线下通知好友投递简历，促进企业与求职者的匹配，敬请期待...</div>
    </div>
</body>
