<html class="no-js"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VIPETA宠物健康检测</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <link rel="stylesheet" href="__PUBLIC__/regis/Template.css">
  <link rel="stylesheet" href="__PUBLIC__/regis/WXactivity.css">
  <link rel="stylesheet" href="__PUBLIC__/regis/uploadifive.css">
	<link rel="stylesheet" id="css-front-css" href="__PUBLIC__/regis/pikaday.css" type="text/css" media="all">
  <link rel="stylesheet" href="__PUBLIC__/regis/bootstrap.min.css">
  <link rel="stylesheet" href="__PUBLIC__/regis/main.css">
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>


</head>
<div class="bmindexbox">
				<!-- <img src="/Public/strat/bmindex_top.jpg"> -->
				<img src="/Public/strat/bmindex_top.jpg">
				<div class="bmindexboxleft" onclick="window.location.href='http://www.vipeta.cn/m/index_vipeta.asp'"></div>
				<div class="bmindexboxright" onclick="window.location.href='"></div>
			</div>
<form id="addform" name="addform" method="post">
<div class="imglist">
<!-- <img src="__PUBLIC__/regis/bmIndexbanner2.png"><br> -->
<img src="/Public/strat/sho_zf.jpg"><br>
</div>
<body>

<div id="erwm" style=" display:none; z-index:9999; margin-top:20px; margin-left: auto;
    margin-right: auto; width:250px;height:250px;width= 200px"  >
		<div style="font-size:15px; color: #EEE ;line-height: 50px;
    text-align: center;
    margin-bottom: 10px;  ">具体事项请扫二维码咨询客服</div>
			<img style="width:250px;height:250px;" src="http://card.vipeta.cn/public/image/8113.jpg">

		</div>
<div class="box">
	<div style="text-align:center; line-height:40px; height:40px; color:#FFFFFF; font-size:20px; display:none;">
		第一期报名已结束!<br>
		二期活动即将开始<br>
		具体事项先联系微信号：ydxuhua<br>
		<img src="__PUBLIC__/regis/qcode.jpg" style=" width:50%;">
	</div>
	<div id="step1">
		<ul class="box_item">
			<li>
				<div class="box_item_title">
				主&nbsp;&nbsp;&nbsp;&nbsp;人：
				</div>
				<div class="box_item_value">
					<input type="text" name="WXAName" id="WXAName" placeholder="请填写真实姓名">
				</div>
				<div class="clearbox"></div>
			</li>
			<li>
				<div class="box_item_title">
				手&nbsp;&nbsp;&nbsp;&nbsp;机：
				</div>
				<div class="box_item_value">
					<input type="text" name="WXAPhone" id="WXAPhone">
				</div>
				<div class="clearbox"></div>
			</li>
			<li>
				<div class="box_item_title">
				微&nbsp;&nbsp;&nbsp;&nbsp;信：
				</div>
				<div class="box_item_value">
					<input type="text" name="WXNum" id="WXNum" placeholder="请填正确的微信号，方便客服联系">
				</div>
				<div class="clearbox"></div>
			</li>

			<li>
				<div class="box_item_title">
				昵&nbsp;&nbsp;&nbsp;&nbsp;称：
				</div>
				<div class="box_item_value">
					<input type="text" name="WXNickName" id="WXNickName" placeholder="请填写宠物的名字">
				</div>
				<div class="clearbox"></div>
			</li>
			<li>
				<div class="box_item_title">
				公&nbsp;&nbsp;&nbsp;&nbsp;母：
				</div>
				<div class="box_item_value">
					<div class="user_login_input_value">
						<div class="user_login_input_value_select_value">公/母</div>
						<div class="user_login_input_value_select_arrow"></div>
						<div class="clearbox"></div>
						<div style="position:relative;overflow-y:auto;z-index: 1000;">
						<div class="user_login_input_value_select_list_out">
							<div id="0">公/母</div>
							<div id="1">公</div>
							<div id="2">母</div>
						</div>
						</div>
						<select name="WXSex" id="WXSex" style="display:none;">
							<option value="0" selected="selected">公/母</option>
							<option value="1">公</option>
							<option value="2">母</option>
						</select>
					</div>
				</div>
				<div class="clearbox"></div>
			</li>
			<li>
				<div class="box_item_title">
				生&nbsp;&nbsp;&nbsp;&nbsp;日：
				</div>
				<div class="box_item_value">
					<input type="text" name="WXBirthday" id="WXBirthday" maxlength="8" placeholder="请填写宠物的生日">
				</div>
				<div class="clearbox"></div>
			</li>
			
			<li>
				<div class="box_item_title">
				种&nbsp;&nbsp;&nbsp;&nbsp;类：
				</div>
				<div class="box_item_value">
					<div class="user_login_input_value">
						<div class="user_login_input_value_select_value">宠物猫/宠物犬</div>
						<div class="user_login_input_value_select_arrow"></div>
						<div class="clearbox"></div>
						<div style="position:relative;overflow-y:auto;z-index: 1000;">
						<div class="user_login_input_value_select_list_out">
							<div id="">宠物猫/宠物犬</div>
							<div id="2">宠物猫</div>
							<div id="1">宠物犬</div>
						</div>
						</div>
						<select name="WXlb" id="WXlb" style="display:none;">
							<option value="0" selected="selected">宠物猫/宠物犬</option>
							<option value="2">宠物猫</option>
							<option value="1">宠物犬</option>
						</select>
					</div>
				</div>
				<div class="clearbox"></div>
			</li>
			<li>
				<div class="box_item_title">
				品&nbsp;&nbsp;&nbsp;&nbsp;种：
				</div>
				<div class="box_item_value">
					<input type="text" name="WXPinzhong" id="WXPinzhong" placeholder="请填写宠物的品种">
				</div>
				<div class="clearbox"></div>
			</li>
			
		<ul class="box_item">
			<li>
				<div class="box_item_title">
				省&nbsp;&nbsp;&nbsp;&nbsp;份：
				</div>
				<div class="box_item_value">
					<div class="user_login_input_value" id="divProIId">
						<div class="user_login_input_value_select_value">请选择省份</div>
						<div class="user_login_input_value_select_arrow"></div>
						<div class="clearbox"></div>
						<div style="position:relative;overflow-y:auto;z-index: 1000;">
						<div class="user_login_input_value_select_list_out">

						<foreach name="data" item="v" >
								<div id="{$v.id}">{$v.name}</div>
						</foreach>
							
							
						</div>
						</div>
						<select name="WX_promaryInfo" id="WX_promaryInfo" style="display:none;">
							<option value="0" selected="selected">请选择省份</option>
							
							<foreach name="data" item="v" >
								
								<option value="{$v.id}">{$v.name}</option>
							</foreach>
							
						</select>
					</div>
				</div>
				<div class="clearbox"></div>
			</li>
			<li>
				<div class="box_item_title">
				市&nbsp;&nbsp;&nbsp;&nbsp;县：
				</div>
				<div class="box_item_value">
					<div class="user_login_input_value" id="divcityID">
						<div class="user_login_input_value_select_value">请选择市县</div>
						<div class="user_login_input_value_select_arrow"></div>
						<div class="clearbox"></div>
						<div style="position:relative;overflow-y:auto;z-index: 1000;">
						<div class="user_login_input_value_select_list_out">
							<div id="0">请选择市县</div>
						</div>
						</div>
						<select name="WX_CityInfo" id="WX_CityInfo" style="display:none;">
							<option value="0" selected="selected">请选择市县</option>
						</select>
					</div>
				</div>
				<div class="clearbox"></div>
			</li>
			<li>
				<div class="box_item_title">
				地&nbsp;&nbsp;&nbsp;&nbsp;址：
				</div>
				<div class="box_item_value">
					<input type="text" name="WXAddress" id="WXAddress" placeholder="请填写详细地址">
				</div>
				<div class="clearbox"></div>
			</li>
		</ul>
		<ul class="box_item">
		<div class="box_item_title" style="font-size:20px; display:none;">
			通信地址：
		</div>
		<div class="box_item_value" style="font-size:14px;display:none; color:#d8a853; line-height:42px;">
			*请填写完整，入围后方便发送礼品
		</div>
			<!-- <li>
				<div class="box_item_title">
				验&nbsp;&nbsp;&nbsp;&nbsp;证：
				</div>
				<div class="box_item_value">
					<input type="text" name="WXCode" id="WXCode">
					<div class="phonecode" onclick="getSMS(this)">免费获取验证码</div>
				</div>
				<div class="clearbox"></div>
			</li> -->
		</ul>
		<div class="box_btn" style="margin-top:20px;">
		
			<a href="javascript:void(0)" class="box_btn1" onclick="addaction_click2()">确认信息并付款</a>
		</div>
	</div>
</form>
<script src="__PUBLIC__/regis/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/regis/pikaday.min.js"></script>

<script src="__PUBLIC__/regis/jquery.uploadifiveBM.js"></script>
<script src="__PUBLIC__/regis/bootstrap.min.js"></script>
<script src="__PUBLIC__/regis/cropper.min.js"></script>




<script type="text/javascript">
        
        //调用微信JS api 支付
        function jsApiCall()
        {
          
              
            WeixinJSBridge.invoke(

                'getBrandWCPayRequest',
                <?php echo $jsApiParameters; ?>,
            
                function(res){
                    WeixinJSBridge.log(res.err_msg);
                    if(res.err_msg == "get_brand_wcpay_request:ok"){
                      
                     

                      $('#erwm').css("display","block");
                   		$(".box").css("display","none");
                     

                    //alert(res.err_code+res.err_desc+res.err_msg);
                       /*这里写如果支付成功的话执行什么操作*/
                    }else{
                        //返回跳转到订单详情页面
                        alert('支付失败');
                            
                    }
                }
            );

         
        }
        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
      
      
        }
    </script>




<script>


$(document).ready(function(){
	// $('#WXBirthday').datetimepicker({
	//   format: 'yyyy-mm-dd hh:ii'
	// });
	$("#WxRemark").focus(function(){
		console.log($("#WxRemark").val());
		if($("#WxRemark").val()=="在一个很有爱的日子出生了，520的娃，目前2岁多了，萌萌的桂圆圆，我的宝贝蛾子，给我带来了很多欢乐，在这2年多来，我们相互学习，相互关爱，给彼此的生活带来了色彩，妈妈爱你（参考）"){
			$("#WxRemark").val("");
			$("#WxRemark").attr("style","color:#ffffff;");
		}
	})
	$("#WxRemark").blur(function(){
		if($("#WxRemark").val()==""){
			$("#WxRemark").val("在一个很有爱的日子出生了，520的娃，目前2岁多了，萌萌的桂圆圆，我的宝贝蛾子，给我带来了很多欢乐，在这2年多来，我们相互学习，相互关爱，给彼此的生活带来了色彩，妈妈爱你（参考）");
			$("#WxRemark").attr("style","color:#a9a9a9;");
		}
	})
	// var picker = new Pikaday(
 //    {
 //        field: document.getElementById('WXBirthday'),
 //        firstDay: 1,
 //        minDate: new Date('2000-01-01'),
 //        maxDate: new Date('2050-12-31'),
 //        yearRange: [2000,2050]
 //    });
    $("#btnclose").click(function(){
    	$(".alertbox").attr("style","display:;none;")
    })

    $('#file_upload1').uploadifive({
			'auto'             : true,
			'multi'            : true,
			'buttonText'	   : '<img src=\'__PUBLIC__/regis/upload_bg.jpg\'>',
			'buttonClass'		:'btn_blue am-round',
			'checkScript'      : '{:U('Index/checkexists')}',
			'height'			:133,
			'formData'         : {
								   'timestamp' : '1231023123132',
								   'token'     : '1231023123132'
								 },        
			'queueID'          : 'queue',
			'uploadScript'     : "{:U('Index/upload')}",
			'onUploadComplete' : function(file, data) {
				var filetext=eval("(" + data + ")")					//解析JSON数据
				console.log(file);
				console.log(data);
				$(".alertbox").attr("style","width:"+$(window).width()+"px; height:"+$(window).height()+"px;display:inherit;")
				$("#img-container").html("<img id=\'image\' src=\'__ROOT__/uploads/"+filetext.savename+"\' />");

				$("#box_upload1").html("<img src='__ROOT__/upload/"+filetext.savename+"'>")
				jiazai('image',1,1,'box_upload1','BMImage1');

			}
	});

	$('#file_upload2').uploadifive({
			'auto'             : true,
			'multi'            : true,
			'buttonText'	   : '<img src=\'__PUBLIC__/regis/upload_bg.jpg\'>',
			'buttonClass'		:'btn_blue am-round',
			'checkScript'      : '{:U('Index/checkexists')}',
			'height'			:133,
			'formData'         : {
								   'timestamp' : '1231023123132',
								   'token'     : '1231023123132'
								 },        
			'queueID'          : 'queue2',
			'uploadScript'     : "{:U('Index/upload')}",
			'onUploadComplete' : function(file, data) {
				var filetext=eval("(" + data + ")")					//解析JSON数据
				console.log(file);
				console.log(data);
				$(".alertbox").attr("style","width:"+$(window).width()+"px; height:"+$(window).height()+"px;display:inherit;")
				$("#img-container").html("<img id=\'image\' src=\'__ROOT__/uploads/"+filetext.savename+"\' />");
				
				$("#box_upload2").html("<img src='__ROOT__/uploads/"+filetext.savename+"'>")
				jiazai('image',3,2,'box_upload2','BMImage2');
				
			}
	});
})
	$(".box_item_select .out").click(function(){
		//console.log($(this).html());
		$(".box_item_select .over").addClass("out").removeClass("over");
		$(this).addClass("over").removeClass("out");
		console.log($(this).find(".hide").html());
		$(".Bottom_Navbar").find("span").html("价格：￥"+$(this).find(".hide").html()+"元");
		$("#tprice").val($(this).find(".hide").html());
		$("#tcid").val($(this).find(".divcid").html());
	})
	var time;
	var tcount=59;
	function clock()
	{
		tcount--;
		//console.log("重新获取("+tcount+"s)");
		$(".phonecode").html("重新获取("+tcount+"s)");
		if(tcount<1){
			clearInterval(time);
			$(".phonecode").html("重新获取");
			tcount=59;
		}
	}

	function getSMS(t){
		if(tcount<59){
			return false;
		}
		if($("#WXAPhone").val()==""){
			alert('先填写手机号码!');
			$("#WXAPhone").focus();
			return false;
		}
		$("#WXAPhone").attr("");
		var urlphone="/index.php/Home/Index/getphonecode";
		$.get("/index.php/Home/Index/getphonecode?WXAPhone="+$("#WXAPhone").val(),function(data){
			$(this).html("重新获取(59s)");
			time=setInterval("clock()",1000);
			console.log(data);
		})
	}
	
	function addaction_click(){
		if($("#WXAName").val()==""){
			alert('先填写主人!');
			$("#WXAName").focus();
			return false;
		}
		if($("#WXAPhone").val()==""){
			alert('先填写手机号码!');
			$("#WXAPhone").focus();
			return false;
		}
		if($("#WXNum").val()==""){
			alert('先填写微信号!');
			$("#WXNum").focus();
			return false;
		}


		if($("#WXNickName").val()==""){
			alert('先填写宠物昵称!');
			$("#WXNickName").focus();
			return false;
		}
		if($("#WXSex").val()==""){
			alert('先选着宠物性别!');
			$("#WXSex").focus();
			return false;
		}
		// if($("#WXCode").val()==""){
		// 	alert('先填写验证码!');
		// 	$("#WXCode").focus();
		// 	return false;
		// }
			// $.ajax({
			// 	type:"post",
			// 	url:"/index.php/Home/Index/doregister",
			// 	data:$("form#addform").serialize(),
			// 	dataType:"html",
			// 	success:function(data){
			// 		console.log(data);

			// 		if(parseInt(data)==0){
			// 			//alert("信息提交成功，请耐心等待我们的工作人员与您联系！");
						
			// 			$("#step1").attr("style","display:none;");
			// 			$("#step2").attr("style","display:;");
			// 		}
			// 		else{
			// 			alert("验证码错误！");
			// 		}
			// 	},
			// 	error:function (XMLHttpRequest, textStatus, errorThrown){ 
			// 		alert("提交人数过多，请重试!");
			// 	}
			// })
	}


	var picker = new Pikaday(
    {
        field: document.getElementById('WXBirthday'),
        firstDay: 1,
        minDate: new Date('2000-01-01'),
        maxDate: new Date('2050-12-31'),
        yearRange: [2000,2050]
    });

	function addaction_click2(){

		if($("#WXAName").val()==""){
			alert('先填写主人!');
			$("#WXAName").focus();
			return false;
		}
		if($("#WXAPhone").val()==""){
			alert('先填写手机号码!');
			$("#WXAPhone").focus();
			return false;
		}
		if($("#WXNum").val()==""){
			alert('先填写微信号!');
			$("#WXNum").focus();
			return false;
		}

		if($("#WXNickName").val()==""){
			alert('先填写昵称!');
			$("#WXNickName").focus();
			return false;
		}

		if($("#WXSex").val()==0){
			alert("请选择公母");
			return false;
		}
		// if($("#WXBirthday").val()==0){
		// 	alert("请选择公母");
		// 	return false;
		// }
		if($("#WXBirthday").val()==""){
			alert('先填写年龄!');
			$("#WXage").focus();
			return false;
		}


		if($("#WXlb").val()==""){
			// var_dump(111);
			alert('选择类别!');
			$("#WXlb").focus();
			return false;
		}
		if($("#WXPinzhong").val()==""){
			// var_dump(111);
			alert('选择类别!');
			$("#WXPinzhong").focus();
			return false;
		}

		
		if($("#WX_promaryInfo").val()==0){
			alert("请选择省份");
			return false;
		}
		//console.log($("#WX_promaryInfo").val());
		//console.log($("#WX_CityInfo").val());
		if($("#WX_CityInfo").val()==0){
			alert("请选择市县");
			return false;
		}
		if($("#WXAddress").val()==""){
			alert('先填写地址!');
			$("#WXAddress").focus();
			return false;
		}
	

		// if($("#WXCode").val()==""){
		// 	alert('先填写验证码!');
		// 	$("#WXCode").focus();
		// 	return false;
		// }

		// if($("#WXBirthday").val()==""){
		// 	alert('先填写生日!');
		// 	$("#WXBirthday").focus();
		// 	return false;
		// }
		
		// if($("#WXBuyWay").val()==0){
		// 	alert("请选择购买途径");
		// 	return false;
		// }
		// // if($("#WXBuyWay").val()==""){
		// // 	alert('先填写购买途径!');
		// // 	$("#WXBuyWay").focus();
		// // 	return false;
		// // }

		// if($("#WXTechang").val()==""){
		// 	alert('先填写特长!');
		// 	$("#WXTechang").focus();
		// 	return false;
		// }
		// if($("#WXTianFu").val()==""){
		// 	alert('先填写天赋!');
		// 	$("#WXTianFu").focus();
		// 	return false;
		// }
		// if($("#WXZuoPin").val()==""){
		// 	alert('先填写作品!');
		// 	$("#WXZuoPin").focus();
		// 	return false;
		// }
		// if($("#WxRemark").val()==""){
		// 	alert('先填写情感描述!');
		// 	$("#WxRemark").focus();
		// 	return false;
		// }
		// 
			$.ajax({
				type:"post",
				url:"/index.php/Home/Index/doregister",
				data:$("form#addform").serialize(),
				dataType:"html",
				success:function(data){
					console.log(data);

					if(parseInt(data)==0){
						//alert("信息提交成功，请耐心等待我们的工作人员与您联系！");
						
						// $("#step1").attr("style","display:none;");
						// $("#step2").attr("style","display:;");
						$.ajax({
							type:"post",
							url:"{:U('Index/dowxzl')}",
							data:$("form#addform").serialize(),
							dataType:"html",
							success:function(data){
								console.log(data);
								if(parseInt(data)==0){
									//alert("信息提交成功，请耐心等待我们的工作人员与您联系！");
									// $("#step1").attr("style","display:none;");
									// $("#step2").attr("style","display:;");
									
									jsApiCall();
									
									// window.location.href='bmConfirm.asp';
								}
								
							},
							error:function (XMLHttpRequest, textStatus, errorThrown){ 
								alert("提交人数过多，请重试!");
							}
						})

					}
					else{
						alert("验证码错误！");
						return  false;
						
					}
				},
				error:function (XMLHttpRequest, textStatus, errorThrown){ 
					alert("提交人数过多，请重试!");
				}
			})

			
	}
	
var $tmpselect;
$(".user_login_input_value_select_value").click(function(){
	$tmpselect=$(this).parent().find(".user_login_input_value_select_list_out")
	if($tmpselect.length==0){
		$tmpselect=$(this).parent().find(".user_login_input_value_select_list_over")
		$tmpselect.addClass("user_login_input_value_select_list_out");
		$tmpselect.removeClass("user_login_input_value_select_list_over");
	}
	else{
		$tmpselect.addClass("user_login_input_value_select_list_over");
		$tmpselect.removeClass("user_login_input_value_select_list_out");
	}
})
$(".user_login_input_value_select_arrow").click(function(){
	$tmpselect=$(this).parent().find(".user_login_input_value_select_list_out")
	if($tmpselect.length==0){
		$tmpselect=$(this).parent().find(".user_login_input_value_select_list_over")
		$tmpselect.addClass("user_login_input_value_select_list_out");
		$tmpselect.removeClass("user_login_input_value_select_list_over");
	}
	else{
		$tmpselect.addClass("user_login_input_value_select_list_over");
		$tmpselect.removeClass("user_login_input_value_select_list_out");
	}
})
$(".user_login_input_value_select_list_out").find("div").on("click",function(){
	if($(this).parent().parent().parent().attr("id")=="divProIId"){
		if($(this).attr("id")!=0){
			$.get("/index.php/Home/Index/cityName?cityID="+$(this).attr("id"),function(data){
				$("#WX_CityInfo option").remove();
				//console.log(obj);
				$("#WX_CityInfo").empty();
				$("#WX_CityInfo").append("<option value=\"0\" selected=\"selected\">请选择市县</option>");
				$("#divcityID").find(".user_login_input_value_select_list_out").html("");
				$("#divcityID").find(".user_login_input_value_select_list_out").append("<div id=\"0\">请选择市县</div>");
				for(var i=0;i<data.length;i++){
					// console.log(obj.item[i].cityID);
					// console.log(obj.item[i].cityName);
					$("#divcityID").find(".user_login_input_value_select_list_out").append("<div id=\""+data[i].id+"\">"+data[i].name+"</div>");
					$("#WX_CityInfo").append("<option value=\""+data[i].id+"\">"+data[i].name+"</option>");
				}
				$("#divcityID").find(".user_login_input_value_select_list_out").find("div").click(function(){
					$(this).parent().parent().parent().find(".user_login_input_value_select_value").html($(this).html());
					$(this).parent().parent().parent().find("select").val($(this).attr("id"));
					$(this).parent().parent().parent().find(".user_login_input_value_select_list_over").attr("class","user_login_input_value_select_list_out");
				})
				
			});
		}
	}
	$(this).parent().parent().parent().find(".user_login_input_value_select_value").html($(this).html());
	$(this).parent().parent().parent().find("select").val($(this).attr("id"));
	$(this).parent().parent().parent().find(".user_login_input_value_select_list_over").attr("class","user_login_input_value_select_list_out");
});




</script>

<div class="pika-single is-hidden is-bound"></div></body></html>