<include file="Public/head" />
<include file="Public/Csidebar"/>
<style type="text/css">

.uploadifive-button {
  float: left;
  margin-right: 10px;
}
#queue {
  margin-top: 20px;
  border: 1px solid #E5E5E5;
  height: 107px;
  overflow: auto;
  margin-bottom: 10px;
  padding: 0 3px 3px;
  width: 250px;

}
</style>

  <!-- content start -->
    <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">管理员添加</strong> / <small>Administrator add</small></div>
      </div>

      <hr/>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
        </div>
        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
          <form class="am-form am-form-horizontal" id="form_a" action="{:U('Csgl/doeidCgl')}" method="post">
            <div class="am-form-group">
              <label for="user-name" class="am-u-sm-3 am-form-label">管理员注册</label>
              <div class="am-u-sm-9">
                <input type="text" id="username" name="username" value="{$data['username']}" placeholder="请输入管理名字" required/>
                <small></small>
              </div>
            </div>

            <div class="am-form-group">
              <label for="user-email" class="am-u-sm-3 am-form-label">密码</label>
              <div class="am-u-sm-9">
                <input type="password" name="password" id="password" placeholder="请输入密码" required/>
                <small>输入密码</small>
              </div>
            </div>

             <div class="am-form-group">
              <label for="user-email" class="am-u-sm-3 am-form-label">确认密码</label>
              <div class="am-u-sm-9">
                <input type="password" name="repassword" id="repassword" placeholder="请输入密码" required/>
                <small>确认密码</small>
              </div>
            </div>

            <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">地址</label>
              <div class="am-u-sm-9">
                <input type="tel" value="{$data['address']}" name="address" id="address"  placeholder="输入你的地址" >
              </div>
            </div>

             <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">手机号</label>
              <div class="am-u-sm-9">
                <input type="tel" id="iphone" value="{$data['iphone']}" name="iphone"  placeholder="输入你的手机号码" >
              </div>
            </div>

            <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">姓名</label>
              <div class="am-u-sm-9">
                <input  id="name_zsmz" name="name" value="{$data['nama_a']}" placeholder="输入你的名字 / name" >
              </div>
            </div>

             <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">城市</label>
              <div class="am-u-sm-3" id="am-u-sm-3">
                      <select id="level" name="level">
                        <option>"{$data['name']}"</option>
                      </select>
                      <span class="am-form-caret"></span>
              </div>

            </div>


             <div class="am-form-group">
              <label for="user-phone" class="am-u-sm-3 am-form-label">支付宝</label>
              <div class="am-u-sm-9">
                <input type="tel" id="zhifubao" value="{$data['zhifubao']}" name="zhifubao"  placeholder="输入你支付宝 / Alipay" >
              </div>
            </div>

             <div class="am-form-group">
              <label  class="am-u-sm-3 am-form-label">身份证号码</label>
              <div class="am-u-sm-9">
                <input  id="sfzid" name="sfzid" value="{$data['sfzid']}" placeholder="输入你的身份证 / ID" >
                 <input type='hidden' name="id" value="{$data['id']}"  >
              </div>
            </div>

         <div id="upimg">
          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">身份证正面上传</label>
              <div class="am-u-sm-9">
               <input id="file_upload" name="file_upload" type="file" multiple="true">
                <a style="position: relative; top: 8px;" href="javascript:$('#file_upload').uploadifive('upload')">上传文件</a> 
            <div style="clear:both;"></div>
              <div id="queue"></div>
             </div>
          </div>
          <div style="clear:both;"></div>
            <div id="both">

              <foreach name="data['sfzimg']" item="v">
                  <div class='add'><img  class='img1' src='__ROOT__/upimgid/{$v}' imgid="{$data['id']}" ><img class='ico' src='__PUBLIC__/img/ywrong.png'><input type='hidden' name='img[]' value="{$v}">
                  </div>
            </foreach>
            </div>

            <div style="clear:both;"></div>
        </div>

            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="button" id="button_a_1"  class="am-btn am-btn-primary">修改管理员</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

<include file="Public/footer"/>
<script type="text/javascript">
  

$(function() {

    var city='do';

    if(city=="{$csxz}"){

      alert(1221)
    }
    

  

  $('#button_a_1').click(function (e) {
        
      address
        var error = false;
        var name = $('#username').val();
        var password = $('#password').val();
        var repassword = $('#password').val();
        var email=$("#email").val(); 
        var address=$("#address").val(); 
        var iphone=$("#iphone").val();
        var name_zsmz=$("#name_zsmz").val();
        var level =$("#level").val();
        var zhifubao=$("#zhifubao").val();
        var sfzid=$("#sfzid").val();
        var file_upload=$("#file_upload").val();
        if (username.length == 0) {
            var error = true;
            $('#username').css("border-color", "#D8000C");
        } else {
            $('#username').css("border-color", "#666");
        }

        if (password.length == 0) {
            var error = true;
            $('#password').css("border-color", "#D8000C");
        } else {
            $('#password').css("border-color", "#666");
        }

        if (repassword.length == 0) {
            var error = true;
            $('#repassword').css("border-color", "#D8000C");
        } else {
            $('#repassword').css("border-color", "#666");
        }

        // if (email.length == 0) {
        //     var error = true;
        //     $('#email').css("border-color", "#D8000C");
        // } else {
        //     $('#email').css("border-color", "#666");
        // }

         if (address.length == 0) {
            var error = true;
            $('#address').css("border-color", "#D8000C");
        } else {
            $('#address').css("border-color", "#666");
        }

        if (iphone.length == 0) {
            var error = true;
            $('#iphone').css("border-color", "#D8000C");
        } else {
            $('#iphone').css("border-color", "#666");
        }

       
        if (name_zsmz.length == 0) {
            var error = true;
            $('#name_zsmz').css("border-color", "#D8000C");
        } else {
            $('#name_zsmz').css("border-color", "#666");
        }

        if (sfzid.length == 0) {
            var error = true;
            $('#sfzid').css("border-color", "#D8000C");
        } else {
            $('#sfzid').css("border-color", "#666");
        }

         if (level.length == 0) {
            var error = true;
            dialog.error("级别未选着")
        } else {
            $('#level').css("border-color", "#666");
        }

         if (zhifubao.length == 0) {
            var error = true;
            $('#zhifubao').css("border-color", "#D8000C");
        } else {
            $('#zhifubao').css("border-color", "#666");
        }

        //  if (file_upload.length == 0) {
        //     var error = true;
        //     $('#name_zsmz').css("border-color", "#D8000C");
        // } else {
        //     $('#name_zsmz').css("border-color", "#666");
        // }



        //now when the validation is done we check if the error variable is false (no errors)
        if (error == false) {
         
            var url = $("#form_a").attr('action');
               
            var data=$("#form_a").serialize();
            $.ajax({
                type:"post",
                url:url,
                data:data,
                dataType:"json",

                success:function(data){


                        if(data=='password_no'){

                            dialog.error("两次秘密提交不同"); 
                        }

                        if(data=='img_no'){

                            dialog.error("照片未上传"); 
                        }
                        if(data=='username_no'){

                            dialog.error("该用户已经存在"); 
                        }

                        if(data=='up_ok'){

                            dialog.success("更新成功","{:U('Index/index')}"); 
                        }

                        if(data=='up_no'){

                            dialog.error("更新失败"); 
                        }


                    
                }

            });

            
        }
 });




     // 异步上传 图片
    <?php $timestamp = time();?>
    $(function() {
      $('#file_upload').uploadifive({
        'auto'             : false,
        'checkScript'      : '{:U('Upimg/checkexists')}',
        'formData'         : {
                     'timestamp' : '<?php echo $timestamp;?>',
                     'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
                             },
        'queueID'          : 'queue',
        'uploadScript'     : "{:U('Upimg/doPhoto')}",
        'onUploadComplete' : function(file, data) {
         //console.log(data);
        //alert(data);
         //console.log(file);
         //var url =data;
         console.log(data);
         
           $('#both').append("<div class='add'><img  class='img1' src='__ROOT__/upimgid/"+data+"'><img class='ico' src='__PUBLIC__/img/ywrong.png'><input type='hidden' name='img[]' value="+data+"></div>");

             //鼠标经过图片显示小图片
          $(".add").unbind("mouseover");
          $(".add").bind("mouseover",function(){
             $(this).find(".ico").css("display","block");
          });


           //鼠标离开图片不显示显示小图片
          $(".add").unbind("mouseout");
          $(".add").bind("mouseout",function(){
             $(this).find(".ico").css("display","none");

          });
          $(".ico").unbind("click");
          $(".ico").bind('click', function(){
           
             $(this).parent('.add').remove();
            var img=$(this).prev(".img1").attr('src');
            var url='{:U('Upimg/delImg_s')}';
          
            $.ajax({
                  type:"post",
                  url:url,
                  data:{ 'h':img},
                  dataType:"json",
                  
                  success:function(data1){
                    
                            
                    $('.div_tu').css("display","none");                   
          
                  }
      
      
                })


        });



          }

         
      });

    });
      
//鼠标经过图片显示小图片
          $(".add").unbind("mouseover");
          $(".add").bind("mouseover",function(){
             $(this).find(".ico").css("display","block");
          });


           //鼠标离开图片不显示显示小图片
          $(".add").unbind("mouseout");
          $(".add").bind("mouseout",function(){
             $(this).find(".ico").css("display","none");

          });
          $(".ico").unbind("click");
          $(".ico").bind('click', function(){
           
            $(this).parent('.add').remove();
            var img=$(this).prev(".img1").attr('src');
            var url='{:U('Upimg/delImg_s')}';
            var imgId="{$imgid}";
            var imgId = $(this).prev(".img1").attr('imgid');

            $.ajax({
                  type:"post",
                  url:url,
                  data:{ h : img,
                         b : imgId 
                  },
                  dataType:"json",
                  
                  success:function(data1){
                    
                            
                    $('.div_tu').css("display","none");                   
          
        }
      
      
    })


});

 
 })


  </script>