<include file="Public/head" />
<include file="Public/Csidebar"/>
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
        <table class="am-table am-table-bordered am-table-striped am-table-compact">
          <thead>
          <tr>
            <th width="10%">项目名</th>
            <th>链接地址</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>宠物体检</td>
            <td><a href="http://card.vipeta.cn/index.php/home/index/starste?id={$id}" target="_blank">http://card.vipeta.cn/index.php/home/index/starste?id={$id}</a></td>
          </tr>
          </tbody>
        </table>
  </div>
</div>

<include file="Public/footer"/>

