<include file="Public/head" />
<include file="Public/psidebar"/>
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <table class="am-table am-table-bordered">
            <thead>
                <tr>
                    <td>系统名称</td>
                    <td>德恩后台管理系统</td>
                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>php版本</td>
                    <td>{: php.PHP_VERSION}</td>
                    
                </tr>
                <tr>
                    <td>MySQL 版本</td>
                    <td>5.1.48-log</td>
                   
                </tr>
                <tr class="">
                    <td>web服务器</td>
                    <td>Apache</td>
                    
                </tr>
                <tr>
                    <td>服务器操作系统:</td>
                    <td>Linux(114.55.95.124)</td>
                    
                </tr>
                <tr>
                    <td>GD 库支持：</td>
                    <td>是</td>
                    
                </tr>
            </tbody>
        </table>


      </div>
    </div>

<include file="Public/footer"/>