<include file="Public/head" />
<style type="text/css">
</style>

<body>
    <form  id="form_1" action="{:U('Register/Alipay')}" method="post">
   			 	<input  type="hidden" value="{$id}"  name="id">
          <input  type="hidden" value="{$data['phone']}"  name="Hephone">
          <input  type="hidden" value="{$data['HeName']}"  name="HeName">
          <input  type="hidden" value="{$data['Hecardid']}"  name="Hecardid">
          <input  type="hidden" value="{$data['img'][0]}"  name="Heidimg">
          昵称<input  type="text" id="HeName"  name="Henickname">
          性别 <select name="Hesex">
                  <option value="0" selected="">男</option>
                  <option value="1" selected="">女</option>
                </select>
           生日<input type="text" name="Hebirthday">
           职业<input type="text" name="Heoccupation">
           学历<select name="Heeducation">
                  <option value="1" selected="">博士</option>
                  <option value="2" selected="">研究生</option>
                  <option value="3" selected="">本科</option>
                  <option value="4" selected="">专科</option>
                  <option value="5" selected="">高中</option>
                  <option value="6" selected="">小学</option>
                </select>
              学校<input type="text" name="Heshcool">
              专业<input type="text" name="Hetype">
              年级<select name="Hegrade">
                  <option value="1" selected="">博士</option>
                  <option value="2" selected="">研究生</option>
                  <option value="3" selected="">本科</option>
                  <option value="4" selected="">专科</option>
                  <option value="5" selected="">高中</option>
                  <option value="6" selected="">小学</option>
                </select>
          <button id="Sub" type="button"   >确定</button>
    </form>
</body>
<script type="text/javascript">
/**/
$(document).ready(function(){ 
	/*提交手机号码身份证图片*/
	$("#Sub").click(function(){
    $("#form_1").submit();
	 });
}); 	

</script>
<html>
