<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VIPETA宠物健康管理系统</title>
  <script type="text/javascript" src="__PUBLIC__/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
  <script src="__PUBLIC__/uploadifive/jquery.uploadifive.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/uploadifive/uploadifive.css">
</head>
