<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href=""><span class="am-icon-home"></span> 首页</a></li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-list-alt"></span>订单模块<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="{:U('Order/Orderlist')}" class="am-cf"><span class="am-icon-reorder"></span>订单列表<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>  
          </ul>
        </li>
        <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-share-alt"></span>合伙人管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav1">
          <li><a href="{:U('Admin/Adminlist')}" class="am-cf"><span class="am-icon-linux"></span>超级管理员列表<span class="am-icon-star am-fr am-margin-right "></span></a>
          </li>

          <li><a href="{:U('Province/Provincelist')}" class="am-cf"><span class="am-icon-user-plus"></span>省级合伙人列表<span class="am-icon-star am-fr am-margin-right "></span></a>
          </li>
          
          <li><a href="{:U('City/Citylist')}" class="am-cf"><span class="am-icon-user-secret"></span>城市合伙人列表<span class="am-icon-star am-fr am-margin-right "></span></a>
          </li>

          <li><a href="{:U('Pabxe/Pabxlist')}" class="am-cf"><span class="am-icon-user-secret"></span>平安保险<span class="am-icon-star am-fr am-margin-right "></span></a>
          </li>
          
        </ul>
      </li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-list-alt"></span>健康检测<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav2">
          <li><a href="{:U('Cooper/Fixtal')}" class="am-cf"><span class="am-icon-user-secret"></span>定点医院管理<span class="am-icon-star am-fr am-margin-right "></span></a>
        </li>
        <li><a href="{:U('Tet/core')}" class="am-cf"><span class="am-icon-user-secret"></span>检测中心<span class="am-icon-star am-fr am-margin-right "></span></a>
        </li>
        </ul>
      </li>

       <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav3'}"><span class="am-icon-list-alt"></span>平安保险<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav3">
          <li><a href="{:U('Pabx/bxlist')}" class="am-cf"><span class="am-icon-user-secret"></span>平安保险保险列表<span class="am-icon-star am-fr am-margin-right "></span></a>
        </li>
       
        </ul>
      </li>
      </ul>
    </div>
  </div>