@charset "UTF-8";
//-----------------------------------------------------
// base scss
// reset样式一份
//-----------------------------------------------------
@import "sassCore-master/core/setting";
@import "sassCore-master/core/reset";
@import "sassCore-master/function";


@font-face {
  font-family: 'iconfont';
  src: url('./font/iconfont.eot');
  src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./font/iconfont.woff') format('woff'),
  url('./font/iconfont.ttf') format('truetype'),
  url('./font/iconfont.svg#iconfont') format('svg');
}
