<html class="no-js"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DEEN宠物明星学院</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="__PUBLIC__/assets/js/jquery.min.js"></script>
  <body>
    <button id="test" type="button"></button>
  </body>


<script type="text/javascript">
        

</script>
</html>