<include file="Public/head" />

<include file="Public/sidebar"/>

<style type="text/css">

.uploadifive-button {
  float: left;
  margin-right: 10px;
}
#queue {
  margin-top: 20px;
  border: 1px solid #E5E5E5;
  height: 107px;
  overflow: auto;
  margin-bottom: 10px;
  padding: 0 3px 3px;
  width: 250px;

}
</style>

  <!-- content start -->
    <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">{$zname}</strong> / <small>子栏目添加</small></div>
      </div>

      <hr/>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
        </div>
        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
          <form class="am-form am-form-horizontal" id="form1" action="{:U('Column/doaddcolumn')}" action1="{:U('Column/columnlist')}" method="post">

            <div class="am-form-group">
              <label for="user-name" class="am-u-sm-3 am-form-label">图片上传</label>
                <div class="am-u-sm-9">
                 <input id="file_upload" name="file_upload" type="file" multiple="true">
                  <a style="position: relative; top: 8px;" href="javascript:$('#file_upload').uploadifive('upload')">上传文件</a> 
              <div style="clear:both;"></div>
                <div id="queue"></div>
               </div>
            </div>
              <div style="clear:both;"></div>
            <div id="both"></div>
            <div style="clear:both;"></div>

            <div class="am-form-group">
              <label for="user-name" class="am-u-sm-3 am-form-label">子栏目名字/Cate</label>
              <div class="am-u-sm-9">
                <input type="text" style="width:400px" id="name" name="Zname" placeholder="请输入栏目名字" required/>
                <small></small>
              </div>
            </div>

          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">型号/model</label>
              <div class="am-u-sm-9">
                <input type="text" style="width:400px" id="name" name="model" placeholder="请输入型号" required/>
                <small></small>
             </div>
          </div>

        <div class="am-form-group">
          <label for="user-name" class="am-u-sm-3 am-form-label">性能/performance</label>
            <div class="am-u-sm-9">
              <textarea style="width:400px;height:120px" id="name" name="performance" placeholder="性能描素" required/></textarea>
              <small></small>
           </div>
        </div>

      
        
          <div class="am-form-group">
            <label for="user-email" class="am-u-sm-3 am-form-label">描述/describe</label>
            <div class="am-u-sm-9">
              <textarea  id="editor_id" name="PayContent"  name="catedesc"  placeholder="简单描素"   style="width:300px;height:600px;"> {$data[0]['catedesc']}  </textarea>
            </div>
          </div>
            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="button" id="button_a"  class="am-btn am-btn-primary">添加</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

<include file="Public/footer"/>
<script type="text/javascript">
    <?php $timestamp = time();?>
    $(function() {
      $('#file_upload').uploadifive({
        'auto'             : false,
        'checkScript'      : '{:U('Upimg/checkexists')}',
        'formData'         : {
        'timestamp' : '<?php echo $timestamp;?>',
        'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
                             },
        'queueID'          : 'queue',
        'uploadScript'     : "{:U('Upimg/doPhoto')}",
        'onUploadComplete' : function(file, data) {
         //console.log(data);
        //alert(data);
         //console.log(file);
         //var url =data;
         console.log(data);
         
           $('#both').append("<div class='add'><img  class='img1' src='__ROOT__/uploads/"+data+"'><img class='ico' src='__PUBLIC__/img/ywrong.png'><input type='hidden' name='img[]' value="+data+"></div>");

             //鼠标经过图片显示小图片
          $(".add").unbind("mouseover");
          $(".add").bind("mouseover",function(){
             $(this).find(".ico").css("display","block");
          });


           //鼠标离开图片不显示显示小图片
          $(".add").unbind("mouseout");
          $(".add").bind("mouseout",function(){
             $(this).find(".ico").css("display","none");

          });
          $(".ico").unbind("click");
          $(".ico").bind('click', function(){

             $(this).parent('.add').remove();
            var img=$(this).prev(".img1").attr('src');
            var url='{:U('Properties/delImgw')}';
          
            $.ajax({
                  type:"post",
                  url:url,
                  data:{ 'h':img},
                  dataType:"json",
                  
                  success:function(data1){
                    
                            
                    $('.div_tu').css("display","none");                   
          
                  }
      
      
                })


        });



          }

         
      });

    });
      

 

  </script>